@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #fff;
  background: #252525;
  letter-spacing: 1px;
}
.container {
  width: 100%;
  background: linear-gradient(135deg, #AD2E24, #81171B);
  /* background: #189ab4; */
  padding: 10px;
  
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}

.navcontainer {
  width: 70%;
  margin: 10px;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: linear-gradient(135deg, #AD2E24, #81171B);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  margin-right: 10px;
}
select {
  border: none;
  outline: none;
  padding: 16px 50px; /* Adjusted to match the button */
  background: linear-gradient(135deg, #AD2E24, #81171B); /* Adjusted to match the button */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.YTdownload {
  width: 100%;
  max-width: 1400px;
  /* background: #171614; */
  margin: 100px auto 20px;
  padding: 40px 30px 60px;
  border-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}
.YTdownload h2 {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 24px;
  color: #000;
}
.description {
  color: #fff;
  padding: 10px;
  align-items: center;
  text-align: center;
  width: 30%;
  max-width: 1400px;
  margin: 100px auto 20px;
  padding: 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}